{% extends "base.html" %}
{% block head %}
{{ block.super }}
<style>
    .exam {
        border-radius: 8px;
        border: 1px solid #ddd;
        border-color: #662422;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }
    p, #exam_auths, #create {
        color: #662422;
        font-size: 24px;
        font-weight: 700;
    }
    #createExam {
        text-align: center;
        color: #662422;
        font-size: 24px;
        font-weight: 700;
    }
</style>
{% endblock %}
{% block menu %}
    <a class="menu" href="/heroes">Реестр героев</a>
    <a class="menu" href="/exam_register">Зарегистрироваться на экзамен!</a>
    <a class="menu" href="/">На главную</a>
{% endblock %}
{% block content %}
    {% for exam in exams %}
        <div class="exam">
            <p id="examId"> Индивидуальный номер экзамена: {{ exam.id }}</p>
            <p id="date"> Дата: {{ exam.exam_date }} </p>
            <p><a id="exam_auths" href="/exam_auths/{{ exam.id }}">Регистрации на экзамен</a></p>
        </div>
    {% endfor %}
    <p id="createExam"><a id="create" href="/create_exam">Анонс экзамена</a></p>
{% endblock %}
